@charset "utf-8";
i,em{font-style:normal}
.red{color:#a33a25}
.red02{color:#e70e12}
.pd10{padding-top:10px}
body .mg20{margin-top:20px}
/*banner*/
.ywp_banner { width:100%; height:673px; background: url(../images/ywp_bannerBg_s.jpg) no-repeat top center; overflow: hidden;}
.ywp_banner .pics { width: 1440px; height: 674px; overflow: hidden; margin: 0px auto; position: relative;}
.ywp_banner h1 { text-indent: -9999em;width:1440px; height: 388px;background: url(../images/ywp_bannerTit2.png) no-repeat; position: absolute; top: 0;left:0;z-index: 0;}
.ywp_banner .pic01 { width: 333px; height: 624px;background: url(../images/ywp_bannerPhone_s.png) no-repeat; position: absolute; top: 16px; right: 209px; z-index: 2;text-indent: -9999em; }
.ywp_banner h2 { width: 1440px; height: 388px; background: url(../images/ywp_bannerTit02_yy.png) no-repeat;position: absolute; z-index: 5; text-indent: -9999em; top: 0px;left:0;}
.ywp_banner .pic02 {background: url(../images/ywp_bannertext.png) no-repeat top left; width: 670px; height: 265px;position: absolute;bottom: 0px;left:220px; z-index: 7;}
.ywp_banner .pic03 {background: url(../images/ywp_bannerPhoneM_s.png) no-repeat; width: 211px; height: 211px;position: absolute;top: 140px;right:273px; z-index: 7;}
.ywp_banner .bold { font-weight: bolder;}
.yellow {color: #fcff00;}
.ywp_banner .fz64 { font-size:80px;}
.ywp_banner p{color: #5e4e00;font-size: 14px;line-height: 26px;padding-left: 24px;}
.ywp_banner p.tit{height: 38px;line-height: 38px;font-size: 18px;padding-left: 36px;padding-bottom: 13px;}
/*活动说明*/
.explain{margin-top:15px}
.explain .pic02{background:url(../images/ywp_bannertext02.png) no-repeat top left;height:230px}
.explain_cont{width:1000px;margin:0 auto;padding-left:160px}
.explain p{color:#5e4e00;font-size:14px;line-height:26px;padding-left:24px}
.explain p.tit{height:38px;line-height:38px;font-size:18px;padding-left:36px;padding-bottom:13px}
.explain p strong{font-size:16px;color:#c91717}
/* 按钮组 */
.centerforms{width:960px;height:100px;margin:0 auto}
.centerforms dl{float:left;width:320px;height:98px;font-size:18px;color:#333;line-height:34px;text-align:center;overflow:hidden}
.centerforms dl dt{margin-bottom:5px}
.centerforms dl b{font-size:20px;color:#444}
.centerforms dl a,.centerforms dl span{display:block;width:200px;height:54px;background:url(../images/energy_nfzq_centerformsbg.png) 0 0 no-repeat;margin:10px auto 0px;font-size:22px;line-height:48px;color:#fff;font-weight:bold;cursor:pointer}
.centerforms dl a:hover,.centerforms dl span.on{text-decoration:none;height:53px;margin-top:13px;color:#fff;background:url(../images/energy_nfzq_centerformsbg.png) 0 -55px no-repeat}
/* 弹出表单 */
.allforms{position:absolute;top:0;left:0;width:100%;height:100%;display:none;z-index:2}
.allforms .afcon{position:fixed;top:50%;left:50%;z-index:3;width:640px;height:400px;margin-top:-200px;margin-left:-320px;background:#fff;border:4px solid #dc1f1f;border-radius:10px;-moz-border-radius:10px;-khtml-border-radius:10px;-webkit-border-radius:10px;_position:absolute;_top:expression(eval(document.documentElement.clientHeight/2+document.documentElement.scrollTop));_left:expression(eval(document.documentElement.clientWidth/2+document.documentElement.scrollLeft))}
.allforms .afbg{position:fixed;top:0;left:0;width:100%;height:100%;_width:expression(eval(document.body.clientWidth));_height:expression(eval(document.body.clientHeight));background:url(../images/bg_000.png) repeat;zoom:1;z-index:2}
.zn_banks_iframe2{position:relative;width:590px;padding:45px 0 25px 50px}
.zn_banks_iframe2 a{position:absolute;width:32px;height:32px;display:block;top:10px;right:10px;text-align:center;font-size:28px;line-height:32px;border:1px solid #ddd;color:#ddd;font-weight:normal;font-family:"宋体";overflow:hidden}
.zn_banks_iframe2 a:hover{text-decoration:none;border:1px solid #bc1a1a;color:#bc1a1a}
.zn_banks_iframe2 form{overflow:hidden}
.zn_banks_iframe2 form.zn_banks_form{padding:15px 0 25px 10px;*+padding:15px 0 35px 10px;_padding:15px 0 25px 10px;overflow:hidden}
.zn_banks_iframe2 form p{width:100%;height:32px;padding:8px 0 0;overflow:hidden;margin-top:5px}
.zn_banks_iframe2 form p label{width:60px;float:left;font-size:14px;line-height:30px}
.zn_banks_iframe2 form p em{width:12px;height:30px;line-height:30px;display:block;float:left;font-style:normal;color:#ba3022}
.zn_banks_iframe2 form p input,.zn_banks_iframe2 form p textarea{width:298px;height:22px;padding:3px;border:1px solid #ddd;float:left}
.zn_banks_iframe2 form p input.code{width:178px}
.zn_banks_iframe2 form p textarea{height:25px;height:35px\9}
.zn_banks_iframe2 form p.p-h{height:auto;padding:5px 0 2px}
.zn_banks_iframe2 form p.p-c{height:25px;overflow:hidden;padding-top:6px}
.zn_banks_iframe2 form p.p-c input{width:13px;height:13px;margin:10px 6px 0 0;border:none;padding:0\0}
.zn_banks_iframe2 form p input.free-code{width:110px;height:30px;background:#8ab119;color:#fff;border-color:#82a912;cursor:pointer;text-align:center;margin-left:10px}
.zn_banks_iframe2 form p input.free-code:hover,.ywp_main form p input.free-code:focus{background:#99c026}
.zn_banks_iframe2 form p input.free-code:active{-webkit-box-shadow:inset 0 0 8px 4px #769c0a,0 1px 0 0 #eeeeee;box-shadow:inset 0 0 8px 4px #769c0a,0 1px 0 0 #eeeeee}
.zn_banks_iframe2 form p input.after{background:#ddd;border-color:#ccc;cursor:auto}
.zn_banks_iframe2 form p input.after:hover,.ywp_main form p input.after:focus{background:#ddd;border-color:#ccc}
.zn_banks_iframe2 form p input.after:active{-webkit-box-shadow:none;box-shadow:none}
.zn_banks_iframe2 form span{color:#aaa;padding-left:10px;float:left;*+float:none;margin-top:5px;display:inline}
.zn_banks_iframe2 form span.box_error,.ywp_main form span.box_ok{background:url(../images/moni_reg_errortb.jpg) no-repeat 10px 3px;*+background:url(../images/moni_reg_errortb.jpg) no-repeat 10px 0px;padding:0 0 0 27px;color:#EA0700;font-weight:600;line-height:20px;margin-left:62px}
.zn_banks_iframe2 form span.box_error b,.ywp_main form span.box_ok b{line-height:18px;height:18px;overflow:hidden;float:left}
.zn_banks_iframe2 form span#tip_authCode{padding-left:27px;float:left;margin-right:90px;_ margin-right:85px;line-height:20px}
.zn_banks_iframe2 form span.box_ok{padding:0px}
.zn_banks_iframe2 form span.box_ok b{background:none;margin-left:10px;color:#EA0700;width:205px;_width:200px;float:right;height:28px;overflow:hidden}
.zn_banks_iframe2 form .pl0{padding-left:0;font-size:14px;color:#666}
.zn_banks_iframe2 form .pl0 strong{color:#ba3022}
.zn_banks_iframe2 form p .btn-red{width:306px;height:40px;line-height:40px;margin:10px 0 10px 72px;border:1px solid #bc1a1a;color:#fff;font:400 24px/24px microsoft yahei;padding:0;text-align:center;cursor:pointer;outline:none;background-color:#cc1c1c}
.zn_banks_iframe2 form p img{cursor:pointer;float:left;margin-left:10px;display:inline}
.zn_banks_iframe2 form p input:focus,.zn_banks_iframe2 form p textarea:focus{border:2px solid #38adff}
.zn_banks_iframe2 .ps{float:left;margin-top:10px;color:#999;clear:both;margin-left:72px;display:inline}
.zn_banks_iframe2.zn_banks_iframe_addcss{padding-top:15px}
.zn_banks_iframe2.zn_banks_iframe_addcss p.paddtit{font-size:24px;line-height:40px;padding:5px 0px;text-indent:40px;width:400px;text-align:center}
/*main*/
.ywp_main{background:url(../images/ywp_Bg.png);width:100%;overflow:hidden;padding-bottom:50px;margin:0;}
.ywp_main .section{width:1080px;margin:20px auto 0;position:relative}
.ywp_main .section .tit{width:100%;height:75px;background:url(../images/ywp_pic10.png) no-repeat}
.ywp_main .section .tit em{display:inline-block;float:left;font-size:30px;font-weight:bolder;line-height:40px;height:40px;width:40px;text-align:center;margin:19px 10px 0px 58px;color:#ffd227}
.ywp_main .section .tit h2{color:#fff;font-size:30px;line-height:75px}
.ywp_main .inner{width:998px;border:1px solid #a2a09d;border-bottom:0;border-top:0;background:#fffefa;overflow:hidden;margin:-2px auto 0}
.sty-bot{width:1000px;height:41px;margin:0px auto;background:url(../images/ywp_pic11.png) no-repeat}
.section0 .code{width:700px;height:320px;background:#fdf4ce;border:1px solid #f0ecdb;margin:40px auto;overflow:hidden;padding:0 60px}
.section0 .pic12{float:left;margin:40px 0px 0px 40px}
.section0 .pic12 img{width:300px}
.section0 .pic13{float:right;margin:40px 40px 0px 0px}
.section0 .pic13 img{width:220px}
.section0 .pic14{width:750px;overflow:hidden;margin:0 auto}
.section0 .pic14 img{height:600px;margin-left:30px}
.section1 .pic15{width:261px;height:180px;float:left;margin:30px 0px 0px 20px}
.section1 .pic16{width:660px;height:155px;background:url(../images/ywp_pic15.png) no-repeat;margin:30px 0px 0 300px;overflow:hidden;padding-top:15px}
.section1 .pic16 p{margin:5px 15px 0px 90px;font-size:14px;color:#000;line-height:22px}
.section2 dl{width:184px;overflow:hidden;float:left;display:inline;margin:35px 0px 0px 50px}
.section2 dl dt{width:184px;height:184px;overflow:hidden}
.section2 dl dd{font-size:16px;color:#000;text-align:center;margin-top:15px;line-height:24px}
.section .zoom{width:100%;overflow:hidden;position:relative}
.inner dl dt.on{cursor:pointer}
.section3 table{width:908px;margin:35px auto 0;table-layout:fixed;text-align:center;overflow:hidden}
.section3 table th{line-height:47px;color:#fff;font-size:20px;font-weight:normal;background:url(../images/ywp_pic21.gif) no-repeat -30px 0;border-right:1px solid #b77f2b}
.section3 table th.bg-l{background:url(../images/ywp_pic21.gif) no-repeat left top}
.section3 table th.bg-r{background:url(../images/ywp_pic21.gif) no-repeat right top}
.section3 table .br0{border-right:0px}
.section3 table td.bt0{border-bottom:0px}
.section3 table td{border-bottom:1px solid #bbb;border-left:1px solid #bbb;line-height:50px;font-size:18px;color:#999}
.section3 table td.elHht{line-height:35px;text-align:left;padding-left:15px}
.section3 table td.br1{border-right:1px solid #bbb}
.section3 table .cor{color:#000}
.section3 table .bg{background:#f3f3f3}
.section3 table .lh30{line-height:30px;padding:10px 0}
.section4 dl{width:150px;overflow:hidden;float:left;display:inline;margin:35px 0px 0px 40px}
.section4 dl dt{width:150px;height:150px;overflow:hidden}
.section4 dl dd{font-size:14px;color:#000;text-align:center;margin-top:10px;line-height:20px}
.section4 .zoom span{color:#e60012;display:block;width:960px;float:left;margin:0px auto 0;text-align:right;font-size:16px}
.section4 .tm{width:800px;height:40px;margin:15px auto 0;position:relative}
.section4 .tm span{width:100%;height:1px;background:#8f5900;display:block;overflow:hidden;position:absolute;top:22px;z-index:1}
.section4 .tm h3{display:block;font:bold 28px/40px Microsoft Yahei;text-align:center;color:#b37517;background:#fff;padding:0 25px;position:absolute;left:50%;z-index:2;margin-left:-55px}
.section4 .rule{width:836px;overflow:hidden;margin:0px auto}
.section4 .rule ul{width:100%;height:132px;background:url(../images/ywp_pic27.png) no-repeat;margin-top:20px}
.section4 .rule ul li{float:left;width:33.3%;font-size:18px;line-height:24px;color:#000}
.section4 .rule ul li p{margin:48px 0 0 88px}
.section4 .tx{margin-top:20px}
.section4 .tx ul{background:url(../images/ywp_pic28.png) no-repeat}
.section4 .tx ul li p{margin:48px 0 0 95px}
.section4 p.notice{font-size:14px;line-height:30px;width:440px;position:relative;left:50%;margin-left:-220px;margin-top:15px}
/*动画效果*/
.ywp_banner h1,.ywp_banner .pic02,.current .zoom,.current table{-webkit-animation-name:zoomIn;animation-name:zoomIn}
.current .pic{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
.current .pic12,.current .pic15{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft}
.ywp_banner .pic01,.current .pic13,.current .pic16{-webkit-animation-name:fadeInRight;animation-name:fadeInRight}
.ywp_banner h2,.current .pic14{-webkit-animation-name:fadeInUp;animation-name:fadeInUp}
.ywp_banner .pic03{-webkit-animation-name:bounceIn;animation-name:bounceIn}
.ywp_banner .pic01,.ywp_banner h2,.current .pic14{-webkit-animation-delay:1s;animation-delay:1s}
.ywp_banner .pic02{-webkit-animation-delay:1.1s;animation-delay:1.1s}
.ywp_banner .pic03{-webkit-animation-delay:2s;animation-delay:2s}
.inner dl dt.on{-webkit-animation:1s 0s ease both back-x-spin;-moz-animation:1s 0s ease both back-x-spin}
/*粤微盘扫码左侧浮窗*/
.ag_fwindow_ywp{position:fixed;bottom:240px;left:10px;_position:absolute;_top:expression(eval(document.documentElement.clientHeight/2+document.documentElement.scrollTop+44))}
.ag_fwindow_ywp,.ag_fwindow_ywpcon a.ahref,.ag_fwindow_ywpcon{width:144px;height:254px}
.ag_fwindow_ywpcon{position:relative;z-index:2;background:url(../images/fwindow_ywp_tyq.png) 0px 0px no-repeat}
.ag_fwindow_ywpcon a.aclose{position:absolute;width:18px;height:65px;overflow:hidden;background:url(../images/fwindow_ywp_tyq.png) -2px -256px no-repeat;bottom:10px;right:-18px}
.ag_fwindow_ywpcon a.aclose:hover{width:20px;background-position:0px -256px;right:-20px}
.ag_fwindow_ywpcon02{position:relative;z-index:1;top:-105px;left:0}
.ag_fwindow_ywpcon02,.ag_fwindow_ywpcon02 a.aopen{width:80px;height:101px}
.ag_fwindow_ywpcon02 a.aopen{display:block;background:url(../images/fwindow_ywp_tyq.png) -21px -259px no-repeat;overflow:hidden}
.ag_fwindow_ywpcon a.ahref,.ag_fwindow_ywpcon a.aclose,.ag_fwindow_ywpcon02 a.aopen{display:block;text-indent:-999em;cursor:pointer}
/*foot*/
.foot{margin-top:0px;padding-bottom:0px}
.tgfooter{margin-top: 0px;}
/*20151019新增*/
.section0 p.red02{width:700px;margin:30px auto 10px;font-size:14px}
.section4 p.red02{width:610px;margin-left:-305px;margin-top:0px}
/*底部浮动广告*/
html{_background-image:url(../images/blank);_background-attachment:fixed}
.advfooter{position:fixed;bottom:0;width:100%;height:80px;left:0;background:url(../images/gppsq_bottombg.png) repeat;z-index:999;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight))}
.advfootercon{width:960px;margin:0 auto;height:80px;position:relative}
.advfootercon .advclose{position:absolute;width:31px;height:31px;background:url(../images/adv_close1208.png) no-repeat;right:0px;top:-12px;cursor:pointer}