
/* 斜角按钮 */

.ButtonSkew{
  overflow: hidden;
  position: relative;
  z-index: 10;
  -webkit-transition: all .5s;
   transition: all .5s;
}


.ButtonSkew:before, .ButtonSkew:after {
  z-index: 9;
  content: "";
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 0;
  top: 0;
  background-color: #e60012;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.ButtonSkew:before {
  left: -50px;
  -webkit-transform: skew(45deg, 0);
          transform: skew(45deg, 0);
}
.ButtonSkew:after {
  right: -50px;
  -webkit-transform: skew(45deg, 0);
          transform: skew(45deg, 0);
}
.ButtonSkew:hover {
  color: white;
}
.ButtonSkew:hover:before, .ButtonSkew:hover:after {
  width: 80%;
}



/*四个方向万能*/

.ButtonTop {
  color: #FFD460;
  border-color: #FFD460;
  position: relative;
  overflow: hidden;
  z-index: 10;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.ButtonTop:before {
  content: ""; 
  z-index: 9;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
/*  width: 0;*/
  background-color: white;
  z-index: -1;

/*  -webkit-transform: skew(45deg, 0);
          transform: skew(45deg, 0);*/
          
  -webkit-transition: all .5s;
  transition: all .5s;
}
.ButtonTop:hover {
  color: #db0000;
}
.ButtonTop:hover:before {
   height: 110%;
/*   width: 150%;*/
}




/*------------------------------------*/


.ButtonRight {
  color: #FFD460;
  border-color: #FFD460;
  position: relative;
  overflow: hidden;
  z-index: 10;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.ButtonRight:before {
  content: ""; 
  z-index: 9;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: white;
  z-index: -1;       
  -webkit-transition: all .9s;
  transition: all .9s;
}
.ButtonRight:hover {
  color: #db0000;
}
.ButtonRight:hover:before {
   width: 150%;
}












/* **************checkedBox 美化**************** */
@-moz-keyframes dothabottomcheck {
  0% {height: 0;}
  100% {height:20px;}
}
@-webkit-keyframes dothabottomcheck {
  0% {height: 0;}
  100% {height: 20px;}
}
@keyframes dothabottomcheck {
  0% {height: 0;}
  100% {height: 12px;}
}

@keyframes dothatopcheck {
  0% {height: 0;}
  50% {height: 0;}
  100% {height: 27px;}
}

@-webkit-keyframes dothatopcheck {
  0% {height: 0;}
  50% {height: 0;}
  100% {height: 27px;}
}
@-moz-keyframes dothatopcheck {
  0% {height: 0;}
  50% {height: 0;}
  100% {height: 27px;}
}

input[type=checkbox] {
  display: none;
}

.check-box {
/*  zoom:0.20;*/


  height: 24px;
  width: 24px;
  background-color: transparent;
  border: 2px solid #1a497d; /*打钩前的颜色*/
  border-radius: 3px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
}
.check-box::before, .check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 4px;
  background-color: #3d8fd8; /*对勾的颜色*/
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: ' ';
  -webkit-transition: opacity ease .5;
  -moz-transition: opacity ease .5;
  transition: opacity ease .5;
}
.check-box::before {
  top: 18px;
  left: 11px;
  box-shadow: 0 0 0 2px #f6f6f6;  /* 对勾边框颜色 */
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.check-box::after {
  top: 9px;
  left: 2px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type=checkbox]:checked + .check-box,
.check-box.checked {
  border-color: #3d8fd8; /* 打钩后的边框颜色 */
}
input[type=checkbox]:checked + .check-box::after,
.check-box.checked::after {
/*  height: 10px;*/
  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}
input[type=checkbox]:checked + .check-box::before,
.check-box.checked::before {
/*  height: 30px;*/
  -moz-animation: dothatopcheck 0.4s ease 0s forwards;
  -o-animation: dothatopcheck 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
  animation: dothatopcheck 0.4s ease 0s forwards;
}
