        @charset "utf-8";
      /*CSS */
        html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
        ul {list-style: none; } fieldset, img { border:none; }
        img{display: block;}
        address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
        ul, ol { list-style:none; }
        input { padding-top:0; padding-bottom:0; font-family: "Microsoft YaHei","SimSun","宋体";}
        input::-moz-focus-inner { border:none; padding:0; }
        select, input { vertical-align:middle; }
        select, input, textarea { font-size:12px; margin:0; }
        input[type="text"], input[type="password"], textarea { outline-style:none; -webkit-appearance:none; }
        textarea { resize:none; }
        table { border-collapse:collapse; }
        body { color:#333; font:12px/20px "SimSun","宋体","Arial Narrow",HELVETICA; background:#fff;/* overflow-y:scroll;*/ }
        .clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }
        .clearfix { zoom:1; }
        .clearit { clear:both; height:0; font-size:0; overflow:hidden; }
        a { color:#666; text-decoration:none;blr:expression(this.onFocus=this.blur()); }
        a:visited { color:#666; }
        a:hover, a:active, a:focus { color:red; text-decoration:underline; }
        a:focus {
			outline: none;
		} 

        .hidden{visibility:hidden;}
        /**** ������ɫ link,visited,hover*/
        /*#333 #8D0000 #333*/
        .fe661{color: #e66100 !important;}
        .fe661:visited{color: #e66100 !important;}
        .fe661:hover, .fe661:visited, .fe661:focus{color: #ff8400 !important;}
        span.fe661 a:link, span.fe661 a:visited{color: #e66100 !important;}
        span.fe661 a:hover, span.fe661 a:focus, span.fe661 a:active{color: #ff8400 !important;}

        .f9157{color: #e66100 !important;}
        span.f9157 a:link, span.f9157 a:visited{color: #915724 !important;}
        span.f9157 a:hover, span.f9157 a:focus, span.f9157 a:active{color: #ff8400 !important;}

        /*main*/
        .main{width: 1000px;margin: 0 auto;clear: both;background-color: #fff;overflow: hidden; }