.slogen_v2{
	width: 100%;
	color: #ccc;
	text-align: center;
	color: #5e5e5e;
	/*font-family: fsyht !important;*/
	font-family: font-family: Tahoma,Arial,"Lantinghei SC","Microsoft YaHei","微软雅黑",宋体,sans-serif;
	font-style: normal;
	
	margin: 40px 0 0 0;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}
.slogen_v2 .title_1{
	margin: 30px 0 18px 0;
	font-size: 28px;
	letter-spacing: 4px;
}
.slogen_v2 .sub_title{
	margin: 0 0 30px 0;
	font-size: 16px;
}

/*通栏容器主体*/
.container_main_1{
    width: 100%;
	background: #fff;
}
.container_v2_1{
    width: 1000px;
    margin: 0 auto;
}
.container_main_2{
    width: 100%;
	background: #eeeeee;
}
.container_v2_2{
    width: 1000px;
    margin: 0 auto;
}
/*page_1 section_1*/
.container_v2_1 .section_1{
    width: 100%;
    text-align: center;
	margin: 60px 0 70px 0;
}
.container_v2_1 .section_1 .title_1{
    text-align: center;
	margin: 30px 0 18px 0;
	font-size: 28px;
	letter-spacing: 4px;
}
.container_v2_1 .section_1 .setion_1_img_list{
    width: 100%;
    text-align: center;
	margin: 50px 0 60px 0;
}
.container_v2_1 .section_1 .setion_1_img_list .item{
    display: inline-table;
	width: 190px;
    height: 206px;
	margin: 0 32px;
}
.container_v2_1 .section_1 .setion_1_img_list .first{
	margin-left: 0px;
	margin-right: 0px;
}
.container_v2_1 .section_1 .setion_1_img_list .last{
	margin-right: 0px;
}
.container_v2_1 .section_1 .setion_1_img_list .item .img_box{
}
.container_v2_1 .section_1 .setion_1_img_list .item .img_box img{
	display: block;
	width: 100%;
}
.container_v2_1 .section_1 .setion_1_img_list .item .content{
	margin: 26px 0 0 0;
	font-size: 16px;
}
/*page_1 section_2*/
.container_main_2 .section_2{
    width: 100%;
    text-align: center;
	padding: 60px 0 60px 0;
}
.container_main_2 .section_2 .title_1{
    text-align: center;
	margin: 30px 0 18px 0;
	font-size: 28px;
	letter-spacing: 4px;
}
.container_main_2 .section_2 .img_content{
    width: 1280px;
	display: inline-table;
}
.container_main_2 .section_2 .img_content img{
	width: 100%;
}
/*page_1 section_3*/
.container_v2_1 .section_3{
    width: 100%;
    text-align: center;
}
.container_v2_1 .section_3 .title_1{
	text-align: center;
	margin: 60px 0 18px 0;
	font-size: 28px;
	letter-spacing: 4px;
}
.container_v2_1 .section_3 .sub_title_1{
	text-align: center;
	font-size: 16px;
	line-height: 30px;
}
.container_v2_1 .section_3 .setion_3_img_list{
    width: 100%;
	margin: 50px 0 40px 0;
	text-align: center;
}
.container_v2_1 .section_3 .setion_3_img_list .item_1{
    float: left;
	margin: 0 0 0 76px;
}
.container_v2_1 .section_3 .setion_3_img_list .item_2{
    float: right;
	margin: 0 76px 0 0;
}
.container_v2_1 .section_3 .setion_3_img_list .img_box_1{
	width: 300px;
}
.container_v2_1 .section_3 .setion_3_img_list .img_box_2{
	width: 300px;
}
.container_v2_1 .section_3 .setion_3_img_list img{
	width: 100%;
	display: block;
}
.container_v2_1 .section_3 .setion_3_img_list .content{
	font-size: 16px;
	margin: 20px 0 0 0;
}

/*page_1 section_4*/
.container_v2_2 .section_4{
    width: 100%;
    text-align: center;
	padding: 80px 0 100px 0;
}
.container_v2_2 .section_4 .title_1{
	text-align: center;
	font-size: 28px;
	letter-spacing: 4px;
	line-height: 50px;
}
.container_v2_2 .section_4 .setion_4_img_list{
    width: 100%;
    text-align: center;
	margin: 80px 0 0 0;
}
.container_v2_2 .section_4 .setion_4_img_list .item{
    display: inline-table;
	margin: 0 18px;
}
.container_v2_2 .section_4 .setion_4_img_list .item .img_box{
    width: 84px;
}
.container_v2_2 .section_4 .setion_4_img_list .item .img_box img{
	width: 100%;
	display: block;
}
.container_v2_2 .section_4 .setion_4_img_list .item .content{
	font-size: 16px;
	margin: 30px 0 0 0;
}
/*page_1 section_5*/
.container_v2_1 .section_5{
    width: 100%;
    text-align: center;
}
.container_v2_1 .section_5 .title_1{
	text-align: center;
	font-size: 28px;
	letter-spacing: 4px;
	margin: 60px 0 50px 0;
}
.container_v2_1 .section_5 .setion_5_img_list{
    width: 100%;
    text-align: center;
}
.container_v2_1 .section_5 .setion_5_img_list .item{
    display: inline-table;
}
.container_v2_1 .section_5 .setion_5_img_list .img_box{
    width: 208px;
    display: inline-table;
	margin: 0 20px 30px 20px;
}
.container_v2_1 .section_5 .setion_5_img_list .img_box img{
	width: 100%;
	display: block;
}
/*page_2 section_6*/
.container_v2_1 .section_6{
    width: 100%;
    text-align: center;
}
.container_v2_1 .section_6 .title_1{
    text-align: center;
	font-size: 28px;
	letter-spacing: 4px;
	margin: 60px 0 60px 0;
}
.container_v2_1 .section_6 .setion_6_img_list{
    width: 100%;
    text-align: center;
}
.container_v2_1 .section_6 .setion_6_img_list .item{
	width: 300px;
	display: inline-table;
	text-align: center;
}
.container_v2_1 .section_6 .setion_6_img_list .middle{
	margin: 0 40px;
}
.container_v2_1 .section_6 .setion_6_img_list .item .img_box{
    width: 260px;
	display: inline-table;
}
.container_v2_1 .section_6 .setion_6_img_list .item .img_box img{
	width: 100%;
	display: block;
}
.container_v2_1 .section_6 .setion_6_img_list .item .content{
	font-size: 20px;
	margin: 30px 0 20px 0;
}
.container_v2_1 .section_6 .setion_6_img_list .item .sub_content{
	font-size: 14px;
}
/*page_2 section_7*/
.container_v2_2 .section_7{
    width: 100%;
    text-align: center;
	margin: 60px 0 0 0;
	padding: 0 0 80px 0;
}
.container_v2_2 .section_7 .title_1{
    text-align: center;
	font-size: 28px;
	letter-spacing: 4px;
	padding: 60px 0 80px 0;
}
.container_v2_2 .section_7 .setion_7_img_list{
    width: 100%;
    text-align: center;
}
.container_v2_2 .section_7 .setion_7_img_list .item{
    display: inline-table;
}
.container_v2_2 .section_7 .setion_7_img_list .item .img_box{
    width: 150px;
	margin: 0 22px 20px 22px;
}
.container_v2_2 .section_7 .setion_7_img_list .item .img_box img{
	width: 100%;
	display: block;
}
.container_v2_1 .section_7 .setion_7_img_list .item .content{
	font-size: 16px;
	margin: 20px 0 0 0;
}
/*page_2 section_8*/
.container_v2_1 .section_8{
    width: 100%;
    text-align: center;
}
.container_v2_1 .section_8 .title_1{
	text-align: center;
	font-size: 28px;
	letter-spacing: 4px;
	padding: 60px 0 80px 0;
}
.container_v2_1 .section_8 .setion_8_img_list{
    width: 100%;
    text-align: center;
	margin-bottom: 60px;
}
.container_v2_1 .section_8 .setion_8_img_list .item{
    display: inline-table;
}
.container_v2_1 .section_8 .setion_8_img_list .middle{
	margin: 0 110px;
}
.container_v2_1 .section_8 .setion_8_img_list .img_box{
    width: 210px;
    display: inline-table;
}
.container_v2_1 .section_8 .setion_8_img_list .img_box img{
	width: 100%;
	display: block;
}
.container_v2_1 .section_8 .setion_8_img_list .item .content{
	font-size: 16px;
	margin: 20px 0 0 0 ;
}
/*page_3 section_9*/
.container_v2_1 .section_9{
    width: 100%;
    text-align: center;
}
.container_v2_1 .section_9 .title_1{
    text-align: center;
}
.container_v2_1 .section_9 .setion_9_img_list{
    width: 100%;
    text-align: center;
	margin: 40px 0 60px 0;
}
.container_v2_1 .section_9 .setion_9_img_list .item{
    display: inline-table;
	width: 300px;
}
.container_v2_1 .section_9 .setion_9_img_list .middle{
    margin: 0 30px 20px 30px;
}
.container_v2_1 .section_9 .setion_9_img_list .item .img_box{
    width: 200px;
	display: inline-table;
}
.container_v2_1 .section_9 .setion_9_img_list .item .img_box img{
	width: 100%;
	display: block;
}
.container_v2_1 .section_9 .setion_9_img_list .item .title_1{
	font-size: 20px;
	color: #222;
	margin: 0 0 20px 0;
}
.container_v2_1 .section_9 .setion_9_img_list .item .content{
	font-size: 12px;
	letter-spacing: 2px;
}
/*page_2 section_10*/
.container_v2_2 .section_10{
    width: 100%;
    text-align: center;
}
.container_v2_2 .section_10 .title_1{
    text-align: center;
	font-size: 28px;
	letter-spacing: 4px;
	padding: 60px 0 50px 0;
}
.container_v2_2 .section_10 .setion_10_img_list{
    width: 100%;
    text-align: center;
	margin: 0 0 60px 0;
	padding: 0 0 40px 0;
}
.container_v2_2 .section_10 .setion_10_img_list .item{
    display: inline-table;
	width:496px;
	text-align: center;
}
.container_v2_2 .section_10 .setion_10_img_list .item .img_box{
    width: 360px;
	display: inline-table;
}
.container_v2_2 .section_10 .setion_10_img_list .item .img_box img{
	width: 100%;
	display: block;
}
.container_v2_2 .section_10 .setion_10_img_list .item .content{
	font-size: 16px;
	line-height: 30px;
	margin: -16px 0 0 0;
}
/*page_2 section_11*/
.container_v2_1 .section_11{
    width: 100%;
    text-align: center;
}
.container_v2_1 .section_11 .title_1{
	text-align: center;
	font-size: 28px;
	letter-spacing: 4px;
	padding: 0 0 50px 0;
}
.container_v2_1 .section_11 .setion_11_img_list{
    width: 100%;
    text-align: center;
}
.container_v2_1 .section_11 .setion_11_img_list .item{
    display: inline-table;
	margin: 0 15px 0 15px;
}
.container_v2_1 .section_11 .setion_11_img_list .first{
	margin: 0 0 0 0;
}
.container_v2_1 .section_11 .setion_11_img_list .last{
	margin: 0 0 0 0;
}
.container_v2_1 .section_11 .setion_11_img_list .img_box{
    width: 230px;
    height: 200px;
    display: inline-table;
}
.container_v2_1 .section_11 .setion_11_img_list .img_box img{
	width: 100%;
	display: block;
}
.container_v2_1 .section_11 .setion_11_img_list .item .content{
	font-size: 16px;
	margin: 10px 0 30px 0;
}
/*page_2 section_12*/
.container_v2_1 .section_12{
    width: 100%;
    text-align: center;
}
.container_v2_1 .section_12 .setion_12_img_list{
    width: 100%;
    text-align: center;
	margin: 60px 0 20px 0;
}
.container_v2_1 .section_12 .setion_12_img_list .item{
    display: inline-table;
}
.container_v2_1 .section_12 .setion_12_img_list .img_box{
	width: 420px;
}
.container_v2_1 .section_12 .setion_12_img_list .img_box img{
	width: 100%;
	display: block;
}
.container_v2_1 .section_12 .setion_12_img_list .item .content{
}
.container_v2_1 .section_12 .title_1{
	text-align: center;
	font-size: 32px;
	letter-spacing: 4px;
	padding: 40px 0 40px 0;
}
.container_v2_1 .section_12 .sub_title_1{
	text-align: center;
	font-size: 16px;
	padding: 0 0 60px 0;
}
/*page_2 section_13*/
.container_v2_2 .section_13{
    width: 100%;
    text-align: center;
	padding: 50px 0 40px 0;
}
.container_v2_2 .section_13 .setion_13_img_list{
    width: 100%;
    text-align: center;
}
.container_v2_2 .section_13 .setion_13_img_list .item{
    display: inline-table;
}
.container_v2_2 .section_13 .setion_13_img_list .item .img_box{
    width: 900px;
}
.container_v2_2 .section_13 .setion_13_img_list .item .img_box img{
	width: 100%;
	display: block;
}
.container_v2_2 .section_13 .title_1{
    text-align: center;
	font-size: 28px;
	letter-spacing: 4px;
	padding: 60px 0 10px 0;
}
/*page_2 section_14*/
.container_v2_1 .section_14{
    width: 100%;
	padding: 80px 0;
}
.container_v2_1 .section_14 .setion_14_img_list{
    text-align: center;
    float: left;
}
.container_v2_1 .section_14 .setion_14_img_list .item{
}
.container_v2_1 .section_14 .setion_14_img_list .img_box{
    width: 400px;
}
.container_v2_1 .section_14 .setion_14_img_list .img_box img{
	width: 100%;
	display: block;
}
.container_v2_1 .section_14 .content_box{
    float: left;
	text-align: left;
	width: 460px;
	margin: 0 0 0 60px;
}
.container_v2_1 .section_14 .content_box .content_1{
	font-size: 28px;
	letter-spacing: 2px;
	margin: 40px 0 10px 0;
}
.container_v2_1 .section_14 .content_box .content_2{
	font-size: 28px;
	letter-spacing: 2px;
	margin: 10px 0 30px 0;
}
.container_v2_1 .section_14 .content_box .content_3{
	font-size: 16px;
}
/*page_2 section_15*/
.container_v2_2 .section_15{
    width: 100%;
    text-align: center;
	padding: 0 0 60px 0;
}
.container_v2_2 .section_15 .title_1{
    text-align: center;
	font-size: 28px;
	letter-spacing: 4px;
	padding: 60px 0 10px 0;
}
.container_v2_2 .section_15 .setion_15_img_list{
    width: 100%;
    text-align: center;
	margin: 40px 0 0 0;
}
.container_v2_2 .section_15 .setion_15_img_list .item{
    display: inline-table;
}
.container_v2_2 .section_15 .setion_15_img_list .item .img_box{
    width: 860px;
}
.container_v2_2 .section_15 .setion_15_img_list .item .img_box img{
	width: 100%;
	display: block;
}
/*page_2 section_16*/
.container_v2_1 .section_16{
    width: 100%;
    text-align: center;
	padding: 60px 0;
}
.container_v2_1 .section_16 .setion_16_img_list{
    text-align: center;
    float: left;
	margin: 0 0 0 60px;
}
.container_v2_1 .section_16 .setion_16_img_list .item{
}
.container_v2_1 .section_16 .setion_16_img_list .img_box{
    width: 400px;
}
.container_v2_1 .section_16 .setion_16_img_list .img_box img{
	width: 100%;
	display: block;
}
.container_v2_1 .section_16 .content_box{
    float: left;
	text-align: left;
	width: 400px;
	margin: 0 0 0 80px;
}
.container_v2_1 .section_16 .content_box .content_1{
	font-size: 28px;
	letter-spacing: 2px;
	margin: 100px 0 10px 0;
}
.container_v2_1 .section_16 .content_box .content_2{
	font-size: 28px;
	letter-spacing: 2px;
	margin: 10px 0 30px 0;
}
.container_v2_1 .section_16 .content_box .content_3{
	font-size: 16px;
}
/*page_2 section_17*/
.container_v2_2 .section_17{
    width: 100%;
    text-align: center;
	padding: 60px 0;
}
.container_v2_2 .section_17 .title_1{
	font-size: 28px;
	letter-spacing: 2px;
	margin: 0 0 10px 0;
}
.container_v2_2 .section_17 .sub_title_1{
	font-size: 16px;
	margin: 30px 0 30px 0;
}
.container_v2_2 .section_17 .setion_17_img_list{
    width: 100%;
    text-align: center;
}
.container_v2_2 .section_17 .setion_17_img_list .item{
    display: inline-table;
}
.container_v2_2 .section_17 .setion_17_img_list .img_box{
    width: 1000px;
}
.container_v2_2 .section_17 .setion_17_img_list .img_box img{
	width: 100%;
	display: block;
}