/*@media (max-width:1400px) {
  body{zoom:0.8;}
}*/

 html { 
   overflow-x: hidden; 
   overflow-y: auto; 
} 

body{
   font-family: Arial,'微软雅黑','黑体', sans-serif;
}

 .container{
   width: 1920px;
   margin:0 auto;
   font-family: Arial,'微软雅黑','黑体', sans-serif;
   position:absolute;
   left:50%;margin-left:-960px;
   background: white;
/*   animation:containerInto 0.8s;
   -webkit-animation:containerInto 0.8s;
   -moz-animation:containerInto 0.8s;
   -o-animation:containerInto 0.8s;*/
}

/*@keyframes containerInto{
  from{opacity: 0; top: -30px;}
  to{opacity: 1; top: 0;}
}


@-webkit-keyframes containerInto{
  from{opacity: 0; top: -30px;}
  to{opacity: 1; top: 0;}
}


@-moz-keyframes containerInto{
  from{opacity: 0; top: -30px;}
  to{opacity: 1; top: 0;}
}


@-o-keyframes containerInto{
  from{opacity: 0; top: -30px;}
  to{opacity: 1; top: 0;}
}
*/




 .container a,button,input,textarea,select{
   font-family: Arial,'微软雅黑','黑体', sans-serif;
 }


/* .container a,button,input,textarea{
    font: 14px/1.5 "Helvetica Neue",Helvetica,tahoma,Arial,\5FAE\8F6F\96C5\9ED1;
 }*/



input[type="submit"]{
    font: 14px/1.5 "Helvetica Neue",Helvetica,tahoma,Arial,\5FAE\8F6F\96C5\9ED1; 
}


input[type="button"]{
    font: 14px/1.5 "Helvetica Neue",Helvetica,tahoma,Arial,\5FAE\8F6F\96C5\9ED1; 
}

select{
    font: 14px/1.5 "Helvetica Neue",Helvetica,tahoma,Arial,\5FAE\8F6F\96C5\9ED1; 
}



button{
  cursor: pointer;
  outline: none;
}

.Left{
  float: left;
}

.Right{
  float: right;
}




/* *******reset Code******* */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,figure {margin:0; padding:0;}
body { background:#fff; color:#555; font-size:14px;}
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:16px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

html { 
      overflow-x: hidden; 
      overflow-y: auto; 
} 

i{font-style: normal;}

/*div,figure,figcaption,li{
  box-sizing: border-box;
}*/

li{
  display: inline-block;
}