
/* *****************animation**************** */

.mbsc-anim-trans .mbsc-fr-scroll {
    overflow: hidden;
}

.mbsc-anim-trans-flip .mbsc-fr-persp,
.mbsc-anim-trans-swing .mbsc-fr-persp {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.mbsc-anim-trans .mbsc-fr-popup,
.mbsc-anim-trans .mbsc-fr-overlay {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.mbsc-anim-in .mbsc-fr-popup,
.mbsc-anim-in .mbsc-fr-overlay {
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 225ms;
    animation-timing-function: ease-out;
    animation-duration: 225ms;
}

.mbsc-anim-out .mbsc-fr-popup,
.mbsc-anim-out .mbsc-fr-overlay {
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: 195ms;
    animation-timing-function: ease-in;
    animation-duration: 195ms;
}

.mbsc-anim-in .mbsc-fr-overlay {
    -webkit-animation-name: mbsc-anim-f-in;
    animation-name: mbsc-anim-f-in;
}

.mbsc-anim-out .mbsc-fr-overlay {
    -webkit-animation-name: mbsc-anim-f-out;
    animation-name: mbsc-anim-f-out;
}

.mbsc-anim-flip,
.mbsc-anim-swing,
.mbsc-anim-slidehorizontal,
.mbsc-anim-slidevertical,
.mbsc-anim-slidedown,
.mbsc-anim-slideup,
.mbsc-anim-fade {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateX(0);
    backface-visibility: hidden;
    -ms-transform: translateX(0);
        transform: translateX(0);
}

.mbsc-anim-swing,
.mbsc-anim-slidehorizontal,
.mbsc-anim-slidevertical,
.mbsc-anim-slidedown,
.mbsc-anim-slideup,
.mbsc-anim-fade {
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
        transform-origin: 0 0;
}

.mbsc-anim-flip,
.mbsc-anim-pop {
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
}

.mbsc-anim-in .mbsc-anim-pop {
    opacity: 1;
    -webkit-animation-name: mbsc-anim-p-in;
    -webkit-animation-duration: 100ms;
    -webkit-transform: scale(1);
    animation-name: mbsc-anim-p-in;
    animation-duration: 100ms;
    -ms-transform: scale(1);
        transform: scale(1);
}

.mbsc-anim-out .mbsc-anim-pop {
    opacity: 0;
    -webkit-animation-name: mbsc-anim-p-out;
    -webkit-animation-duration: 150ms;
    animation-name: mbsc-anim-p-out;
    animation-duration: 150ms;
}

.mbsc-anim-trans-pop .mbsc-fr-overlay {
    -webkit-animation-duration: 150ms;
    animation-duration: 150ms;
}

.mbsc-anim-in .mbsc-anim-flip {
    opacity: 1;
    -webkit-animation-name: mbsc-anim-fl-in;
    -webkit-transform: scale(1);
    animation-name: mbsc-anim-fl-in;
    -ms-transform: scale(1);
        transform: scale(1);
}

.mbsc-anim-out .mbsc-anim-flip {
    opacity: 0;
    -webkit-animation-name: mbsc-anim-fl-out;
    animation-name: mbsc-anim-fl-out;
}

.mbsc-anim-in .mbsc-anim-swing {
    opacity: 1;
    -webkit-animation-name: mbsc-anim-sw-in;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);
    animation-name: mbsc-anim-sw-in;
}

.mbsc-anim-out .mbsc-anim-swing {
    opacity: 0;
    -webkit-animation-name: mbsc-anim-sw-out;
    animation-name: mbsc-anim-sw-out;
}

.mbsc-anim-in .mbsc-anim-slidehorizontal {
    opacity: 1;
    -webkit-animation-name: mbsc-anim-sh-in;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);
    animation-name: mbsc-anim-sh-in;
}

.mbsc-anim-out .mbsc-anim-slidehorizontal {
    opacity: 0;
    -webkit-animation-name: mbsc-anim-sh-out;
    animation-name: mbsc-anim-sh-out;
}

.mbsc-anim-in .mbsc-anim-slidevertical {
    opacity: 1;
    -webkit-animation-name: mbsc-anim-sv-in;
    -webkit-transform: scale(1);
    animation-name: mbsc-anim-sv-in;
    -ms-transform: scale(1);
        transform: scale(1);
}

.mbsc-anim-out .mbsc-anim-slidevertical {
    opacity: 0;
    -webkit-animation-name: mbsc-anim-sv-out;
    animation-name: mbsc-anim-sv-out;
}

.mbsc-anim-in .mbsc-anim-slidedown {
    -webkit-animation-name: mbsc-anim-sd-in;
    -webkit-transform: scale(1);
    animation-name: mbsc-anim-sd-in;
    -ms-transform: scale(1);
        transform: scale(1);
}

.mbsc-anim-out .mbsc-anim-slidedown {
    -webkit-animation-name: mbsc-anim-sd-out;
    -webkit-transform: translateY(-100%);
    animation-name: mbsc-anim-sd-out;
}

.mbsc-anim-in .mbsc-anim-slideup {
    -webkit-animation-name: mbsc-anim-su-in;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
        transform: scale(1);
    animation-name: mbsc-anim-su-in;
}

.mbsc-anim-out .mbsc-anim-slideup {
    -webkit-animation-name: mbsc-anim-su-out;
    -webkit-transform: translateY(100%);
    animation-name: mbsc-anim-su-out;
}

.mbsc-anim-in .mbsc-anim-fade {
    opacity: 1;
    -webkit-animation-name: mbsc-anim-f-in;
    animation-name: mbsc-anim-f-in;
}

.mbsc-anim-out .mbsc-anim-fade {
    opacity: 0;
    -webkit-animation-name: mbsc-anim-f-out;
    animation-name: mbsc-anim-f-out;
}


/* Fade in */

@keyframes mbsc-anim-f-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes mbsc-anim-f-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Fade out */

@keyframes mbsc-anim-f-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes mbsc-anim-f-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* Pop in */

@keyframes mbsc-anim-p-in {
    from {
        opacity: 0;
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@-webkit-keyframes mbsc-anim-p-in {
    from {
        opacity: 0;
        -webkit-transform: scale(0.8);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}


/* Pop out */

@keyframes mbsc-anim-p-out {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
    }
}

@-webkit-keyframes mbsc-anim-p-out {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(0.8);
    }
}


/* Flip in */

@keyframes mbsc-anim-fl-in {
    from {
        opacity: 0;
        -webkit-transform: rotateY(90deg);
                transform: rotateY(90deg);
    }
    to {
        opacity: 1;
        -webkit-transform: rotateY(0);
                transform: rotateY(0);
    }
}

@-webkit-keyframes mbsc-anim-fl-in {
    from {
        opacity: 0;
        -webkit-transform: rotateY(90deg);
    }
    to {
        opacity: 1;
        -webkit-transform: rotateY(0);
    }
}


/* Flip out */

@keyframes mbsc-anim-fl-out {
    from {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
    to {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
                transform: rotateY(-90deg);
    }
}

@-webkit-keyframes mbsc-anim-fl-out {
    from {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
    }
    to {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
    }
}


/* Swing in */

@keyframes mbsc-anim-sw-in {
    from {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
                transform: rotateY(-90deg);
    }
    to {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
}

@-webkit-keyframes mbsc-anim-sw-in {
    from {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
    }
    to {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
    }
}


/* Swing out */

@keyframes mbsc-anim-sw-out {
    from {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
    to {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
                transform: rotateY(-90deg);
    }
}

@-webkit-keyframes mbsc-anim-sw-out {
    from {
        opacity: 1;
        -webkit-transform: rotateY(0deg);
    }
    to {
        opacity: 0;
        -webkit-transform: rotateY(-90deg);
    }
}


/* Slide horizontal in */

@keyframes mbsc-anim-sh-in {
    from {
        opacity: 0;
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}

@-webkit-keyframes mbsc-anim-sh-in {
    from {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}


/* Slide horizontal out */

@keyframes mbsc-anim-sh-out {
    from {
        opacity: 1;
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
    }
}

@-webkit-keyframes mbsc-anim-sh-out {
    from {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
}


/* Slide vertical in */

@keyframes mbsc-anim-sv-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes mbsc-anim-sv-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}


/* Slide vertical out */

@keyframes mbsc-anim-sv-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
    }
}

@-webkit-keyframes mbsc-anim-sv-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(100%);
    }
}


/* Slide Down In */

@keyframes mbsc-anim-sd-in {
    from {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    to {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes mbsc-anim-sd-in {
    from {
        opacity: 1;
        -webkit-transform: translateY(-100%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}


/* Slide down out */

@keyframes mbsc-anim-sd-out {
    from {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
}

@-webkit-keyframes mbsc-anim-sd-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(-100%);
    }
}


/* Slide Up In */

@keyframes mbsc-anim-su-in {
    from {
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@-webkit-keyframes mbsc-anim-su-in {
    from {
        opacity: 1;
        -webkit-transform: translateY(100%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}


/* Slide up out */

@keyframes mbsc-anim-su-out {
    from {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    to {
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
    }
}

@-webkit-keyframes mbsc-anim-su-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(100%);
    }
}






/* *****************frame**************** */

.mbsc-fr-w,
.mbsc-fr-overlay {
    -webkit-transform: translateZ(0);
}

.mbsc-fr {
    pointer-events: none;
    z-index: 99998;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
}

.mbsc-fr-lock {
    -ms-touch-action: none;
    touch-action: none;
}

.mbsc-fr-lock-ctx {
    position: relative;
}

.mbsc-fr-lock.mbsc-fr-lock-ios {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
}

.mbsc-fr-scroll {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.mbsc-fr-scroll:focus {
    outline: none;
    outline-offset: -2px;
}

.mbsc-fr-popup {
    max-width: 98%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    font-size: 12px;
    text-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
}

.mbsc-rtl {
    direction: rtl;
}


/* Box sizing */

.mbsc-fr-popup,
.mbsc-fr-btn-cont {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mbsc-fr-w {
    min-width: 200px;
    overflow: hidden;
    text-align: center;
    font-family:  "Microsoft YaHei", Helvetica, STHeiTi,"Helvetica Neue","微软雅黑",SimSun,sans-serif;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}


/* Modal overlay */

.mbsc-fr,
.mbsc-fr-persp,
.mbsc-fr-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mbsc-fr-lock-ctx > .mbsc-fr,
.mbsc-fr-lock-ctx .mbsc-fr-persp,
.mbsc-fr-lock-ctx .mbsc-fr-overlay {
    position: absolute;
}

.mbsc-fr-persp {
    pointer-events: auto;
    overflow: hidden;
}

.mbsc-fr-overlay {
    z-index: 1;
    background: rgba(0, 0, 0, .7);
    -webkit-transform: translateZ(0);
}


/* Liquid mode */

.mbsc-fr-liq .mbsc-fr-popup {
    max-width: 100%;
}


/* Top/Bottom mode */

.mbsc-fr-top .mbsc-fr-popup,
.mbsc-fr-bottom .mbsc-fr-popup {
    width: 100%;
    max-width: 100%;
}


/* Inline mode */

.mbsc-fr-inline {
    position: static;
    pointer-events: auto;
}

.mbsc-fr-inline .mbsc-fr-popup {
    position: static;
    display: inline-block;
    max-width: 100%;
}

.mbsc-fr-inline.mbsc-fr-liq .mbsc-fr-popup {
    display: block;
}


/* Bubble mode */

.mbsc-fr-bubble,
.mbsc-fr-bubble .mbsc-fr-persp {
    position: absolute;
}

.mbsc-fr-bubble .mbsc-fr-arr-w {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
}

.mbsc-fr-bubble-top .mbsc-fr-arr-w {
    top: 100%;
}

.mbsc-fr-bubble-bottom .mbsc-fr-arr-w {
    bottom: 100%;
}

.mbsc-fr-bubble .mbsc-fr-arr-i {
    margin: 0 30px;
    position: relative;
    direction: ltr;
}

.mbsc-fr-bubble .mbsc-fr-arr {
    display: block;
}

.mbsc-fr-arr {
    display: none;
    position: relative;
    left: 0;
    width: 0;
    height: 0;
    border-width: 18px 18px;
    border-style: solid;
    margin-left: -18px;
}

.mbsc-fr-bubble-bottom .mbsc-fr-arr {
    bottom: 0;
}

.mbsc-fr-bubble-top .mbsc-fr-arr {
    top: 0;
}

.mbsc-fr-hdn {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}


/* Header */

.mbsc-fr-hdr {
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Buttons */

.mbsc-fr-btn {
    overflow: hidden;
    display: block;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
}

.mbsc-fr-btn-e {
    cursor: pointer;
}

.mbsc-fr-btn-d {
    cursor: not-allowed;
}


/* Button container */

.mbsc-fr-btn-cont {
    display: table;
    width: 100%;
    text-align: center;
}

.mbsc-fr-btn-cont .mbsc-fr-btn-d {
    opacity: .3;
}


/* Button wrapper */

.mbsc-fr-btn-w {
    vertical-align: top;
    display: table-cell;
    position: relative;
    z-index: 5;
}

.mbsc-fr-btn-w .mbsc-fr-btn:before {
    padding: .375em;
}


/* Widget content styling */

.mbsc-wdg .mbsc-wdg-c {
    position: relative;
    z-index: 0;
    font-size: 14px;
    text-align: left;
    white-space: normal;
}

.mbsc-wdg .mbsc-wdg-c.mbsc-w-p {
    padding: 1em;
}


/* Default theme */

.mbsc-mobiscroll .mbsc-fr-w {
    min-width: 16em;
    background: #f7f7f7;
    color: #aaa;
    font-size: 16px;
}

.mbsc-mobiscroll .mbsc-fr-hdr {
    padding: 0 .6666em;
    padding-top: .6666em;
    color: #4eccc4;
    font-size: .75em;
    text-transform: uppercase;
    min-height: 2em;
    line-height: 2em;
}

.mbsc-mobiscroll .mbsc-fr-btn-cont {
    display: block;
    overflow: hidden;
    text-align: right;
    padding: 0 .5em .5em .5em;
}

.mbsc-mobiscroll .mbsc-fr-btn-w {
    display: block;
    float: right;
}

.mbsc-mobiscroll .mbsc-rtl .mbsc-fr-btn-w {
    float: left;
}

.mbsc-mobiscroll .mbsc-fr-btn {
    height: 2.5em;
    line-height: 2.5em;
    padding: 0 1em;
    color: #4eccc4;
    text-transform: uppercase;
}

.mbsc-mobiscroll.mbsc-no-touch .mbsc-fr-btn-e:not(.mbsc-fr-btn-d):hover,
.mbsc-mobiscroll .mbsc-fr-btn-a {
    background: rgba(78, 204, 196, .3);
}

.mbsc-mobiscroll .mbsc-fr-bubble-bottom .mbsc-fr-arr {
    border-color: transparent transparent #f7f7f7 transparent;
}

.mbsc-mobiscroll .mbsc-fr-bubble-top .mbsc-fr-arr {
    border-color: #f7f7f7 transparent transparent transparent;
}





/* *****************frame.ios*************** */

.mbsc-ios.mbsc-fr-top .mbsc-fr-btn-cont,
.mbsc-ios.mbsc-fr-bottom .mbsc-fr-btn-cont {
    background: #fff;
}

.mbsc-ios .mbsc-fr-overlay {
    background: rgba(0, 0, 0, .2);
}

.mbsc-ios .mbsc-fr-w {
    position: relative;
    padding-top: 3.666667em;
    background: #f7f7f7;
    color: #000;
    font-size: 12px;
    font-family: -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.mbsc-ios .mbsc-fr-has-hdr .mbsc-fr-w {
    min-width: 25em;
}

.mbsc-ios.mbsc-fr-nobtn .mbsc-fr-w,
.mbsc-ios.mbsc-fr-center .mbsc-fr-w {
    min-width: 16.666667em;
}

.mbsc-ios .mbsc-fr-hdr {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    line-height: 1.25em;
    padding: .75em 4.375em;
    color: #000;
    font-size: 1.333334em;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mbsc-ios.mbsc-fr-nobtn .mbsc-fr-hdr,
.mbsc-ios.mbsc-fr-center:not(.mbsc-cal-liq) .mbsc-fr-hdr {
    position: relative;
    padding: .75em .5em;
    border-bottom: 1px solid #ccc;
    white-space: normal;
}

.mbsc-ios .mbsc-fr-btn-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

.mbsc-ios .mbsc-fr-btn {
    height: 2.75em;
    line-height: 2.75em;
    padding: 0 .625em;
    display: inline-block;
    color: #007aff;
    font-size: 1.333334em;
}

.mbsc-ios .mbsc-fr-btn-a {
    opacity: .5;
}

.mbsc-ios.mbsc-no-touch .mbsc-fr-btn-e:not(.mbsc-fr-btn-d):hover {
    background: #ebebe8;
}

.mbsc-ios.mbsc-fr-inline .mbsc-fr-w .mbsc-fr-btn-w .mbsc-fr-btn:hover,
.mbsc-ios.mbsc-fr-top .mbsc-fr-w .mbsc-fr-btn-w .mbsc-fr-btn:hover,
.mbsc-ios.mbsc-fr-bottom .mbsc-fr-w .mbsc-fr-btn-w .mbsc-fr-btn:hover {
    background: none;
}

.mbsc-ios .mbsc-fr-btn-w {
    display: block;
    float: right;
}

.mbsc-ios .mbsc-fr-btn-c,
.mbsc-ios .mbsc-rtl .mbsc-fr-btn-w {
    float: left;
}

.mbsc-ios .mbsc-rtl .mbsc-fr-btn-c {
    float: right;
}

.mbsc-ios .mbsc-fr-btn-s .mbsc-fr-btn {
    font-weight: bold;
}


/* Bubble arrow */

.mbsc-ios.mbsc-fr-bubble .mbsc-fr-w,
.mbsc-ios.mbsc-fr-center .mbsc-fr-w {
    border-radius: 8px;
}

.mbsc-ios .mbsc-fr-arr-w {
    z-index: 0;
}

.mbsc-ios .mbsc-fr-arr {
    position: relative;
    width: 26px;
    height: 26px;
    background: #f7f7f7;
    border: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: -13px;
}

.mbsc-ios .mbsc-fr-bubble-top .mbsc-fr-arr {
    top: -17px;
    border-bottom-left-radius: 6px;
}

.mbsc-ios .mbsc-fr-bubble-bottom .mbsc-fr-arr {
    top: 17px;
    border-top-right-radius: 6px;
}


/* Top and bottom display */

.mbsc-ios.mbsc-fr-bottom .mbsc-fr-overlay,
.mbsc-ios.mbsc-fr-top .mbsc-fr-overlay {
    background: none;
}

.mbsc-ios.mbsc-fr-bottom .mbsc-fr-popup {
    border-top: 1px solid #909090;
}

.mbsc-ios.mbsc-fr-top .mbsc-fr-popup {
    border-bottom: 1px solid #909090;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .mbsc-ios .mbsc-fr-hdr,
    .mbsc-ios .mbsc-fr-btn-cont,
    .mbsc-ios.mbsc-fr-bottom .mbsc-fr-popup,
    .mbsc-ios.mbsc-fr-center .mbsc-fr-btn-w {
        border-width: .5px;
    }
}


/* Center display button  */

.mbsc-ios.mbsc-fr-center .mbsc-fr-w {
    padding-top: 0;
    padding-bottom: 3.75em;
}

.mbsc-ios.mbsc-fr-center.mbsc-fr-btn-block .mbsc-fr-w {
    padding: 0;
}

.mbsc-ios.mbsc-fr-center .mbsc-fr-btn-cont {
    display: table;
    top: auto;
    bottom: 0;
    border: 0;
    table-layout: fixed;
}

.mbsc-ios.mbsc-fr-center .mbsc-fr-btn {
    display: block;
    font-weight: normal;
}

.mbsc-ios.mbsc-fr-center .mbsc-fr-btn-w {
    display: table-cell;
    float: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.mbsc-ios.mbsc-fr-center .mbsc-fr-btn-w:first-child {
    border-left: 0;
}

.mbsc-ios.mbsc-fr-center .mbsc-rtl .mbsc-fr-btn-w {
    border-left: 0;
    border-right: 1px solid #ccc;
}

.mbsc-ios.mbsc-fr-center .mbsc-rtl .mbsc-fr-btn-w:first-child {
    border-right: 0;
}

.mbsc-ios.mbsc-fr-center .mbsc-ltr .mbsc-fr-btn-w:first-child .mbsc-fr-btn,
.mbsc-ios.mbsc-fr-center .mbsc-rtl .mbsc-fr-btn-w:last-child .mbsc-fr-btn {
    border-radius: 0 0 0 .5em;
}

.mbsc-ios.mbsc-fr-center .mbsc-ltr .mbsc-fr-btn-w:last-child .mbsc-fr-btn,
.mbsc-ios.mbsc-fr-center .mbsc-rtl .mbsc-fr-btn-w:first-child .mbsc-fr-btn {
    border-radius: 0 0 .5em 0;
}

.mbsc-ios.mbsc-fr-center .mbsc-fr-btn-a {
    background: #ebebe8;
    opacity: 1;
}

.mbsc-ios.mbsc-fr-center.mbsc-fr-btn-block .mbsc-fr-btn-cont {
    position: static;
    display: block;
}

.mbsc-ios.mbsc-fr-center.mbsc-fr-btn-block .mbsc-fr-btn-w {
    display: block;
    border-left: 0;
    border-right: 0;
}

.mbsc-ios.mbsc-fr-center.mbsc-fr-btn-block .mbsc-fr-w .mbsc-fr-btn-w .mbsc-fr-btn {
    border-radius: 0;
}

.mbsc-ios.mbsc-fr-center.mbsc-fr-btn-block .mbsc-fr-btn-w:last-child .mbsc-fr-btn {
    border-radius: 0 0 .5em .5em;
}


/* Inline display */

.mbsc-ios.mbsc-fr-inline .mbsc-fr-w {
    border: 0;
    border-radius: 0;
    background: #fff;
}


/* No buttons */

.mbsc-ios.mbsc-fr-nobtn .mbsc-fr-w {
    padding: 0;
}





/* **************scroller.css************** */

.mbsc-sc-whl-o,
.mbsc-sc-btn {
    /* Prevent flickering on animation */
    -webkit-transform: translateZ(0);
}


/* Force content box */

.mbsc-sc-whl-c,
.mbsc-sc-whl-l,
.mbsc-sc-whl {
    -moz-box-sizing: content-box;
         box-sizing: content-box;
}


/* Force border box */

.mbsc-sc-whl-gr-c,
.mbsc-sc-itm {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

.mbsc-sc-whl-gr-c {
    position: relative;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
}

.mbsc-fr-liq .mbsc-sc-whl-gr-c {
    display: block;
}

.mbsc-sc-whl-gr {
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
}

.mbsc-sc-whl-w {
    max-width: 100%;
    /*-webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;*/
    position: relative;
    /*-ms-touch-action: none;
    touch-action: none;*/
}

.mbsc-sc-whl-o {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.mbsc-sc-whl-l {
    display: none;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 0;
    right: 0;
    pointer-events: none;
}

.mbsc-sc-whl-w .mbsc-sc-whl-l {
    display: block;
}

.mbsc-sc-whl {
    overflow: hidden;
    border-radius: 1px;
    /* Forces IE to respect overflow hidden while animating */
    border-top: 1px solid transparent;
    /* Fixes Firefox rendering issues */
    border-bottom: 1px solid transparent;
}

.mbsc-sc-whl-c {
    position: relative;
    z-index: 1;
    top: 50%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.mbsc-sc-whl-sc {
    position: relative;
}

.mbsc-sc-itm {
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mbsc-sc-itm-inv,
.mbsc-sc-itm-inv-h {
    opacity: .3;
}

.mbsc-sc-lbl {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    display: none;
}

.mbsc-sc-lbl-v .mbsc-sc-lbl {
    display: block;
}

.mbsc-sc-btn {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.mbsc-sc-btn:before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.mbsc-sc-whl-a .mbsc-sc-btn {
    opacity: 0;
}

.mbsc-sc-btn-plus {
    bottom: 0;
}

.mbsc-sc-btn-minus {
    top: 0;
}

.mbsc-mobiscroll .mbsc-sc-itm-sel {
    color: #454545;
}


/* 3D */

.mbsc-sc-whl-gr-3d {
    -webkit-perspective: 1200px;
    perspective: 1200px;
}

.mbsc-sc-whl-gr-3d .mbsc-sc-whl {
    /* For iOS to respect z-index */
    overflow: visible;
}

.mbsc-sc-whl-gr-3d .mbsc-sc-whl-c {
    overflow: hidden;
}

.mbsc-sc-whl-3d {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.mbsc-sc-itm-3d {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.mbsc-sc-itm-del {
    display: none;
}


/* Multiline */

.mbsc-sc-itm-ml {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}


/* Select */

.mbsc-sel-hdn {
    position: absolute;
    height: 1px !important;
    width: 1px !important;
    left: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

.mbsc-sel-gr {
    padding: 0 .25em;
    opacity: 1;
    font-weight: bold;
    text-align: left;
}


/* Multiple */

.mbsc-sel-multi .mbsc-sc-whl-w .mbsc-sc-whl-l {
    display: none;
}

.mbsc-sc-whl-multi .mbsc-sc-itm-sel:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    text-align: center;
}


/* Default Theme */

.mbsc-mobiscroll .mbsc-sc-whl-gr {
    padding: .5em .25em;
}

.mbsc-mobiscroll .mbsc-sc-whl-w {
    margin: 0 .25em;
}

.mbsc-mobiscroll .mbsc-sc-whl-o {
    display: none;
}

.mbsc-mobiscroll .mbsc-sc-lbl-v .mbsc-sc-whl-w {
    margin-top: 1.875em;
}

.mbsc-mobiscroll .mbsc-sc-lbl {
    color: #4eccc4;
    font-size: .75em;
    line-height: 2.5em;
    text-transform: uppercase;
}

.mbsc-mobiscroll .mbsc-sc-whl-l {
    border-top: 1px solid #4eccc4;
    border-bottom: 1px solid #4eccc4;
}

.mbsc-mobiscroll .mbsc-sc-btn {
    color: #4eccc4;
    background: #f7f7f7;
}

.mbsc-mobiscroll .mbsc-sc-btn:before {
    font-size: 1.5em;
}

.mbsc-mobiscroll.mbsc-no-touch .mbsc-sc-btn:hover:before,
.mbsc-mobiscroll .mbsc-sc-btn-a:before {
    background: rgba(78, 204, 196, .3);
}

.mbsc-mobiscroll .mbsc-sc-itm {
    padding: 0 .25em;
    font-size: 1.125em;
}

.mbsc-mobiscroll .mbsc-sc-itm.mbsc-btn-a {
    background: rgba(78, 204, 196, .3);
}


/* Select */

.mbsc-mobiscroll .mbsc-sc-whl .mbsc-sel-gr {
    padding: 0 .25em;
    font-size: 1.125em;
}


/* Multiple select */

.mbsc-mobiscroll .mbsc-sc-whl-multi .mbsc-sc-itm {
    padding: 0 1.818181em;
}

.mbsc-mobiscroll .mbsc-sc-whl-multi .mbsc-sc-itm-sel:before {
    font-size: 1.818181em;
    color: #4eccc4;
}




/* **************scroller.ios.css************** */

.mbsc-ios.mbsc-sc.mbsc-fr-top .mbsc-fr-w,
.mbsc-ios.mbsc-sc.mbsc-fr-bottom .mbsc-fr-w {
    background: #eee;
}

.mbsc-ios.mbsc-calendar .mbsc-fr-persp .mbsc-fr-w {
    background: #f7f7f7;
}

.mbsc-ios.mbsc-sc.mbsc-fr-top .mbsc-fr-btn-cont,
.mbsc-ios.mbsc-sc.mbsc-fr-bottom .mbsc-fr-btn-cont {
    border-bottom: 0;
}

.mbsc-ios.mbsc-calendar.mbsc-fr-top .mbsc-fr-btn-cont,
.mbsc-ios.mbsc-calendar.mbsc-fr-bottom .mbsc-fr-btn-cont {
    border-bottom: 1px solid #ccc;
}


/* Top / bottom color theme */

.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-l,
.mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-l {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-o,
.mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-o {
    background: -webkit-gradient(linear, left bottom, left top, from(#eee), color-stop(0.52, rgba(209, 213, 219, 0)), color-stop(0.48, rgba(209, 213, 219, 0)), to(#eee));
    background: -webkit-linear-gradient(#eee, rgba(209, 213, 219, 0) 52%, rgba(209, 213, 219, 0) 48%, #eee);
    background: linear-gradient(#eee, rgba(209, 213, 219, 0) 52%, rgba(209, 213, 219, 0) 48%, #eee);
}

.mbsc-ios.mbsc-fr-top .mbsc-sc-whl-gr-3d .mbsc-sc-whl-c,
.mbsc-ios.mbsc-fr-bottom .mbsc-sc-whl-gr-3d .mbsc-sc-whl-c {
    background: #eee;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .mbsc-ios.mbsc-calendar .mbsc-fr-popup .mbsc-fr-btn-cont {
        border-width: .5px;
    }
}


/* Inline color theme */

.mbsc-ios.mbsc-fr-inline .mbsc-sc-whl-o {
    background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(0.52, rgba(255, 255, 255, 0)), color-stop(0.48, rgba(255, 255, 255, 0)), to(#fff));
    background: -webkit-linear-gradient(#fff, rgba(255, 255, 255, 0) 52%, rgba(255, 255, 255, 0) 48%, #fff);
    background: linear-gradient(#fff, rgba(255, 255, 255, 0) 52%, rgba(255, 255, 255, 0) 48%, #fff);
}

.mbsc-ios.mbsc-fr-inline .mbsc-sc-whl-gr-3d .mbsc-sc-whl-c {
    background: #fff;
}


/* Wheel label */

.mbsc-ios .mbsc-sc-lbl {
    color: #ababab;
    line-height: 2.5em;
}

.mbsc-ios .mbsc-sc-whl-gr {
    padding: .833333em;
}

.mbsc-ios .mbsc-sc-lbl-v {
    margin-bottom: -1.666667em;
}

.mbsc-ios .mbsc-sc-lbl-v .mbsc-sc-whl-gr {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.mbsc-ios .mbsc-sc-whl-l,
.mbsc-ios.mbsc-calendar .mbsc-sc-whl-l {
    display: block;
    margin: 0 -.833333em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


/*.mbsc-ios .mbsc-sc-whl-w {
    margin: 0 .333334em;
}*/

.mbsc-ios .mbsc-sc-whl-w .mbsc-sc-whl-l {
    display: none;
}

.mbsc-ios .mbsc-sc-whl-o,
.mbsc-ios.mbsc-calendar .mbsc-sc-whl-o {
    background: -webkit-gradient(linear, left bottom, left top, from(#f7f7f7), color-stop(0.52, rgba(245, 245, 245, 0)), color-stop(0.48, rgba(245, 245, 245, 0)), to(#f7f7f7));
    background: -webkit-linear-gradient(#f7f7f7, rgba(245, 245, 245, 0) 52%, rgba(245, 245, 245, 0) 48%, #f7f7f7);
    background: linear-gradient(#f7f7f7, rgba(245, 245, 245, 0) 52%, rgba(245, 245, 245, 0) 48%, #f7f7f7);
}

.mbsc-ios .mbsc-sc-itm {
    padding: 0 .5em;
    color: #9d9d9d;
    font-size: 1.833333em;
}

.mbsc-ios .mbsc-sc-itm.mbsc-btn-a {
    background: rgba(0, 122, 255, .2);
}

.mbsc-ios .mbsc-sc-itm-sel {
    color: #000;
}


/* 3D */

.mbsc-ios .mbsc-sc-whl-gr-3d .mbsc-sc-itm {
    color: #000;
}

.mbsc-ios .mbsc-sc-whl-gr-3d .mbsc-sc-whl-c {
    margin: 0 -.166667em;
}

.mbsc-ios .mbsc-sc-whl-gr-3d .mbsc-sc-whl-c,
.mbsc-ios.mbsc-calendar .mbsc-sc-whl-gr-3d .mbsc-sc-whl-c {
    background: #f7f7f7;
}

.mbsc-ios .mbsc-sc-whl-gr-3d .mbsc-sc-itm-3d {
    font-size: 1.666666em;
    color: #666;
}


/* Clickpick mode */

.mbsc-ios .mbsc-sc-cp .mbsc-sc-whl .mbsc-sc-itm {
    text-align: center;
}

.mbsc-ios .mbsc-sc-cp .mbsc-sc-whl-w {
    padding: 2.666667em 0;
}

.mbsc-ios .mbsc-sc-btn {
    color: #007aff;
    height: 2.666667em !important;
    line-height: 2.666667em !important;
    opacity: 1;
}

.mbsc-ios .mbsc-sc-btn:before {
    font-size: 2em;
}

.mbsc-ios .mbsc-sc-btn-a:before {
    opacity: .5;
}


/* Multiple select */

.mbsc-ios.mbsc-sel-multi .mbsc-sc-whl-l {
    display: none;
}

.mbsc-ios .mbsc-sc-whl-multi .mbsc-sc-whl-o {
    display: none;
}

.mbsc-ios .mbsc-sc-whl-multi .mbsc-sc-itm {
    padding: 0 1.818181em;
}

.mbsc-ios.mbsc-sel-multi .mbsc-sc-itm {
    color: #000;
}

.mbsc-ios .mbsc-sc-whl-multi .mbsc-sc-itm-sel {
    color: #007aff;
}

.mbsc-ios .mbsc-sc-whl-multi .mbsc-sc-itm-sel:before {
    font-size: 1.818181em;
}

.mbsc-ios .mbsc-sc-whl-gr-3d .mbsc-sc-whl-multi .mbsc-sc-whl-o {
    display: block;
}

.mbsc-ios.mbsc-sel-multi .mbsc-sc-whl-gr-3d .mbsc-sc-whl-c {
    visibility: hidden;
}


/* Group select */

.mbsc-ios .mbsc-sc-whl .mbsc-sel-gr {
    padding-left: .277777em;
    color: #9d9d9d;
    font-weight: normal;
    font-size: 1.222222em;
}

.mbsc-ios.mbsc-sel-gr-whl .mbsc-ltr .mbsc-sc-whl-multi {
    margin-left: 2em;
}

.mbsc-ios.mbsc-sel-gr-whl .mbsc-rtl .mbsc-sc-whl-multi {
    margin-right: 2em;
}


/* Date & Time */

.mbsc-ios .mbsc-dt-whl-y .mbsc-sc-itm {
    min-width: 3.8em;
}

.mbsc-ios .mbsc-dt-whl-m .mbsc-sc-itm {
    text-align: left;
}

.mbsc-ios .mbsc-dt-whl-d .mbsc-sc-itm,
.mbsc-ios .mbsc-dt-whl-h .mbsc-sc-itm,
.mbsc-ios .mbsc-dt-whl-date .mbsc-sc-itm {
    text-align: right;
}
