*{ margin:0px; padding:0px; font-size:14px; font-family:Microsoft Yahei;}/* font-family:Microsoft Yahei; */
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
img,input{ border:0px;}
ul li{ list-style:none;}
em,i{ font-style:normal;}


/* 地图样式 */
.wrap{ width:885px;height:662px; margin-bottom:0px;}
.wrap .itemCon{ }
.mapTipText{width: 280px;height: 110px;background-color:#E9E9E9; position:absolute;  z-index:222;}
.mapTipText .mapTipImg{height: 66px; width: 66px; float: left;border: 2px solid #ffffff; border-radius: 50%;overflow: hidden;margin: -12px 5px 0 -12px;}
.mapTipText .mapTipImg img{width: 100%;height: 100%;}
.mapTipText .mapTipList{float: left;margin-left: 4px;}
.mapTipText .mapTipList h2{text-align: left;}
.mapTipText .mapTipList h2 a{font-size: 24px; color: #262626;text-decoration:none;}
.mapTipText .mapTipList h2 a:hover{ color: #0085d2;}
.mapTipText .mapTipList h2 a span{font-size: 16px;margin-left: 3px;}
.mapTipText .mapTipList ul{ width: 203px;padding-right: 10px;}
.mapTipText .mapTipList ul li{list-style: none;float: left;padding: 7px 3px 0 3px;}
.mapTipText .mapTipList ul li a{color: #262626;text-decoration:none;}
.mapTipText .mapTipList ul li a:hover{background-color:#2ebcfe;color:#ffffff;}
.mapTipContainer{ border:0px}

.seven{ float:left; width:100%;}
.seven .title{ float:left; width:100%; height:55px; font-weight:bold; font-size:30px;}
.seven .desc{ float:left; line-height:30px; font-size:16px; padding-top:20px; padding-bottom:30px; margin-bottom:20px}
.seven .desc h3{ font-size:16px; padding-top:10px;}

.h800{ height:810px;}

.sy_five_ul{ width:100%; float:left; height:400px; overflow:hidden;  margin-top:-42px;}
.bx_wrap{ float:left; }
.sy_five_ul .prev,.sy_five_ul .next{width:37px; height: 37px; position:relative; z-index:100; float:right; margin-left:10px; margin-bottom:10px; }
.sy_five_ul .prev {background:url(../images/right.png) no-repeat left center;}
.sy_five_ul .prev:hover{ background:url(../images/right_sel.png) no-repeat left center;}
.sy_five_ul .next {background:url(../images/left.png) no-repeat left center ;}
.sy_five_ul .next:hover{ background:url(../images/left_sel.png) no-repeat left center;}
.bx_container{ float:left;}
.az_seven li{ width:290px; height:290px; border:1px solid #AFAFAF;}
.az_seven li .top{ float:left; padding-top:10px; padding-left:20px; height:60px; line-height:30px; font-size:16px;}
.az_seven li .top span{ font-size:20px;}
.az_seven li .bottom{ float:left; width:100%; text-align:center;}
.az_seven li:hover{ border:1px solid #03C;}

.tong_div{ float:left; margin-bottom:30px;}

.eight{ width:1140px; padding:40px 30px; border:1px solid #B3B3B3; float:left; margin-bottom:40px;}
.eight .left_img{ float:left; width:300px; padding: 0px 24px;}
.eight .right{ float:right; width:780px;}
.eight .right h1{ float:left; width:100%; height:70px; color:#003F98; font-size:30px; font-weight:normal;}
.eight .right h1 span{ font-size:18px; padding-left:20px}
.eight .right h2{ font-size:20px; padding-bottom:10px;}
.eight .right .top,.eight .right .bottom{ float:left; width:100%; line-height:32px; font-size:16px; font-weight:bold; padding-bottom:40px;}
.eight .right .bottom{ font-weight:normal; padding-bottom:0px}

.nine{ float:left; width:100%; text-align:center; padding-bottom:40px;}
.baowei{ float:left; width:100%;  position:relative; }
.baowei_jia{margin-top:-1530px;}

.tb_two{ float:left; width:100%; border-bottom:4px solid #2B58AD;}
.tb_two th{ border-left:1px solid #fff; border-right:1px solid #fff; background:#2C58AF; line-height:40px; color:#fff; font-size:18px; width:25%;}
.tb_two td{ height:40px; line-height:40px; color:#000000; font-size:16px; text-align:center;border-left:1px solid #fff; border-right:1px solid #fff;}
.tb_two td a{ color:#000; font-size:16px;}
.tb_two td a:hover{ color:#2C58AF;}
.tb_two .tr{ background:#9DB4E6}

.zhiwei{ float:left; width:100%; height:40px; margin-top:-65px}
.zhiwei a{ float:right; width:150px; height:40px; background:#2C58AF; color:#fff; border-radius:5px; font-size:16px; text-align:center; line-height:40px;}
.zhiwei a:hover{ background:#000091}
.pbottom{ padding-bottom:30px;}

.tb_three th{ width:110px; }

.kuang{ border:1px solid #B2B2B2; padding:30px 40px 30px; margin-bottom:20px;}








