
   /*banner上的css3属性*/

   #bannerLOGO{
     position:relative; 
     animation:bannerLOGOInto 1s ;
     -webkit-animation:bannerLOGOInto 1s;
     -moz-animation:bannerLOGOInto 1s;
     -o-animation:bannerLOGOInto 1s;

     animation-timing-function:cubic-bezier(0.42,0,0.58,1);
     -webkit-animation-timing-function:cubic-bezier(0.42,0,0.58,1);
     -moz-animation-timing-function:cubic-bezier(0.42,0,0.58,1);
     -o-animation-timing-function:cubic-bezier(0.42,0,0.58,1);
   }

    @keyframes bannerLOGOInto 
    {
    from {opacity: 0.5; top: -50px;}
    to {opacity: 1; top: 0;}
    }


    @-webkit-keyframes bannerLOGOInto 
    {
    from {opacity: 0.5; top: -50px;}
    to {opacity: 1; top: 0;}
    }


    @-moz-keyframes bannerLOGOInto 
    {
    from {opacity: 0.5; top: -50px;}
    to {opacity: 1; top: 0;}
    }


    @-o-keyframes bannerLOGOInto 
    {
    from {opacity: 0.5; top: -50px;}
    to {opacity: 1; top: 0;}
    }




   .navFixed{
     position:relative; 
     animation:navFixed 1.5s;
     -webkit-animation:navFixed 1.5s;
     -moz-animation:navFixed 1.5s;
     -o-animation:navFixed 1.5s;

     animation-timing-function:cubic-bezier(0.42,0,0.58,1);
     -webkit-animation-timing-function:cubic-bezier(0.42,0,0.58,1);
     -moz-animation-timing-function:cubic-bezier(0.42,0,0.58,1);
     -o-animation-timing-function:cubic-bezier(0.42,0,0.58,1);
   }

    @keyframes navFixed 
    {
    from {opacity: 0.5; top: 50px;}
    to {opacity: 1; top: 0;}
    }


    @-webkit-keyframes navFixed 
    {
    from {opacity: 0.5; top: 50px;}
    to {opacity: 1; top: 0;}
    }


    @-moz-keyframes navFixed 
    {
    from {opacity: 0; left: 50px;}
    to {opacity: 1; left: 0;}
    }


    @-o-keyframes navFixed 
    {
    from {opacity: 0; left: 50px;}
    to {opacity: 1; left: 0;}
    }


.iconList{
     position:relative; 
     animation:icon1Into 2s;
     animation-timing-function:cubic-bezier(0.42,0,0.58,1);
   }

    @keyframes icon1Into 
    {
    from {opacity: 0.5; top: 80px;}
    to {opacity: 1; top: 0;}
    }





