body{position:relative}.btn-blue,.btn-line{display:inline-block;line-height:1;color:#fff;text-align:center}.btn-blue{border:1px solid #54c0d5;background:#54c0d5}.btn-blue:hover{border:1px solid #42b6cc;background:#42b6cc}.btn-line{border:1px solid #fff}.btn-line:active{filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#19FFFFFF, endColorStr=#19FFFFFF);background:rgba(255,255,255,.1)}.header{position:absolute;top:0;left:0;z-index:1000;width:100%}.header .top{position:relative;z-index:999;height:41px;background:#fff;border-bottom:1px solid #e0e0e0}
.header .logo{position:relative;top:8px;display:block;text-align: center;}
.header .logo img{height:26px;}
.header .nav-toggle{position:absolute;top:0;right:0;width:40px;height:40px;-webkit-transform:translateZ(0) rotate(0deg);-ms-transform:translateZ(0) rotate(0deg);transform:translateZ(0) rotate(0deg);-webkit-transition:-webkit-transform .4s cubic-bezier(0.4,.01,.165,.99);transition:transform .4s cubic-bezier(0.4,.01,.165,.99);-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-tap-highlight-color:transparent}.header .nav-toggle-svg{position:absolute;left:0;top:0;-webkit-transform:translateZ(0) rotate(0deg);-ms-transform:translateZ(0) rotate(0deg);transform:translateZ(0) rotate(0deg);fill:#8c8c8c;-webkit-transition:-webkit-transform .25s cubic-bezier(0.4,.01,.165,.99);transition:transform .25s cubic-bezier(0.4,.01,.165,.99);font-size:18px}.header .nav-toggle-rect{left:0;top:0;-webkit-transition:-webkit-transform .1s .1s;transition:transform .1s .1s}.header .nav-toggle-rect-top{-webkit-transform:translate3d(0,-8px,0);-ms-transform:translate3d(0,-8px,0);transform:translate3d(0,-8px,0)}.header .nav-toggle-rect-bottom{-webkit-transform:translate3d(0,8px,0);-ms-transform:translate3d(0,8px,0);transform:translate3d(0,8px,0)}.header.nav-menu-show .nav-toggle{-webkit-transform:translateZ(0) rotate(90deg);-ms-transform:translateZ(0) rotate(90deg);transform:translateZ(0) rotate(90deg);-webkit-transition:-webkit-transform .4s cubic-bezier(0.4,.01,.165,.99);transition:transform .4s cubic-bezier(0.4,.01,.165,.99)}.header.nav-menu-show .nav-toggle-svg{-webkit-transition:-webkit-transform .25s .2s cubic-bezier(0.4,.01,.165,.99);transition:transform .25s .2s cubic-bezier(0.4,.01,.165,.99);-webkit-transform:translateZ(0) rotate(45deg);-ms-transform:translateZ(0) rotate(45deg);transform:translateZ(0) rotate(45deg)}.header.nav-menu-show .nav-toggle-svg-top{-webkit-transform:translateZ(0) rotate(45deg);-ms-transform:translateZ(0) rotate(45deg);transform:translateZ(0) rotate(45deg)}.header.nav-menu-show .nav-toggle-rect-top{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.header.nav-menu-show .nav-toggle-svg-bottom{-webkit-transform:translateZ(0) rotate(-45deg);-ms-transform:translateZ(0) rotate(-45deg);transform:translateZ(0) rotate(-45deg)}.header.nav-menu-show .nav-toggle-rect-bottom{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.header .nav-menu{position:absolute;top:0;left:0;width:100%;height:0;background:#ecebeb;border-bottom:1px solid #d4d3d3;overflow-x:auto;-webkit-transition:height .4s;transition:height .4s}.header .nav-menu ul{width:280px;height:32px;min-width:100%;overflow:hidden}.header .nav-menu ul li{float:left}.header .nav-menu ul li a{display:block;margin:0 18px;font-size:12px;color:#666;line-height:32px}.header.nav-menu-show .nav-menu{top:41px;height:33px}
html,body,.wrap,.wrap-inner,.wrap-page,.wrap .page{
	position:relative;
	height:100%;
}

body,.wrap,.wrap-inner,.wrap .page{
	overflow:hidden;
}

a{-webkit-tap-highlight-color:rgba(0,0,0,0)}

.wrap-page .page,
.wrap-page .page .bg,
.wrap-page .page .gradien,
.wrap-page .page .title{
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0)
}

.wrap{}
.wrap-page{}
.wrap-inner{width:500%;}
.wrap-page .page{
	float:left;
	width:20%;
}

.wrap-index{
	position:absolute;
	left:50%;
	bottom:10px;
	margin-left:-42px;
}
.wrap-index li{
	float:left;
	width:8px;
	height:8px;
	margin-right:9px;
	background:#fff;
	cursor:pointer;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	transition:all 500ms ease;
}

.wrap-index li.on{
	filter:alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity:1;
	opacity:1;
	cursor:default;
}
.wrap-btn{
	position:absolute;
	bottom:32px;
	left:0;
	width:100%;
	overflow:hidden;
}



.wrap-btn .btn-wrap{
	width:50%; 
	margin: 0 auto;
}

.wrap-btn .download-wrap{
	padding:0 10px 0 20px;
}

.wrap-btn .apply-wrap{
	padding:0 20px 0 10px;
}

.wrap-btn a{
	display:block;
	font-size:14px;
	line-height:28px;
}

.wrap-page .page .bg{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.wrap-page .page .bg img{
	position:absolute;
	top:40px;
	left:0;
	height:100%;
}


.wrap-page .page .gradien{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:-moz-radial-gradient(center,ellipse cover,rgba(0,0,0,.06) 0,rgba(0,0,0,.5) 100%);
	background:-webkit-gradient(radial,center center,0,center center,100%,color-stop(0%,rgba(0,0,0,.06)),color-stop(100%,rgba(0,0,0,.5)));
	background:-webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,.06) 0,rgba(0,0,0,.5) 100%);
	background:-o-radial-gradient(center,ellipse cover,rgba(0,0,0,.06) 0,rgba(0,0,0,.5) 100%);
	background:-ms-radial-gradient(center,ellipse cover,rgba(0,0,0,.06) 0,rgba(0,0,0,.5) 100%);
	background:radial-gradient(ellipse at center,rgba(0,0,0,.06) 0,rgba(0,0,0,.5) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f000000', endColorstr='#80000000', GradientType=1)
}

.wrap-page .page .title{
	position:absolute;
	max-width:80%;
	font-size:12px;
	color:#fff;
	line-height:16px;
}

.wrap-page .page .title img{position:absolute}



.wrap-page .page .title p{padding-bottom:7px;font-size:16px;line-height:1;}
.wrap-page .page2 .bg,
.wrap-page .page4 .bg{
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center center;
}

.wrap-page .page1 .title{top:40%;left:0;width:100%;padding-top:59px; text-align: center; max-width: 100%;}
.wrap-page .page1 .title img{top:0;left:10%;max-width: 80%; width: 80%;}

.wrap-page .page2 .title{top:160px;left:20px;width:220px;padding-top:59px}
.wrap-page .page2 .title img{top:0;left:0;height:54px}

.wrap-page .page3 .title{bottom:150px;left:20px;width:325px;padding-top:70px}
.wrap-page .page3 .title img{top:0;left:-6px;height:63px}

.wrap-page .page4 .title{top:140px;right:20px;width:242px;padding-top:70px}
.wrap-page .page4 .title img{top:0;right:-10px;height:75px}

.wrap-page .page5 .title{top:200px;left:20px;width:250px;padding-top:58px; }
.wrap-page .page5 .title img{top:0;left:0;height:45px}





.wrap-page .page.page-animate{}

.wrap-page .page .bg{
	-webkit-transition:all 5000ms ease;
	-o-transition:all 5000ms ease;
	-moz-transition:all 5000ms ease;
	-ms-transition:all 5000ms ease;
	transition:all 5000ms ease;
}

.wrap-page .page2 .bg,
.wrap-page .page4 .bg{
	-webkit-transform:scale(1.2,1.2);
	-o-transform:scale(1.2,1.2);
	-moz-transform:scale(1.2,1.2);
	transform:scale(1.2,1.2);
}
.wrap-page .page2.page-animate .bg,
.wrap-page .page4.page-animate .bg{
	-webkit-transform:scale(1,1);
	-o-transform:scale(1,1);
	-moz-transform:scale(1,1);
	transform:scale(1,1);
}

.wrap-page .page.page-animate .bg img{
	-webkit-transition:all 5500ms linear;
	-o-transition:all 5500ms linear;
	-moz-transition:all 5500ms linear;
	-ms-transition:all 5500ms linear;
	transition:all 5500ms linear;
}
.wrap-page .page .title{
	-webkit-transition:all 2000ms ease;
	-o-transition:all 2000ms ease;
	-moz-transition:all 2000ms ease;
	-ms-transition:all 2000ms ease;
	transition:all 2000ms ease
}



/*.wrap-page .page1.page-animate .title{
	top:150px;
	left:0;
}*/

.wrap-page .page2.page-animate .title{
	top:110px;
	left:20px;
}

.wrap-page .page3.page-animate .title{
	bottom:100px;
	left:20px;
}

.wrap-page .page4.page-animate .title{
	top:90px;
	right:20px;
}

.wrap-page .page5.page-animate .title{
	top:150px;
	left:20px;
}

